<h1> Angular </h1>


<ul class="nav nav-pills m-3">
    <li class="nav-item">
        <a [class.active]="viewMode == 'casting'" class="nav-link" (click)="viewMode = 'casting'">Title Casting
        </a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'authors'" class="nav-link" (click)="viewMode = 'authors'">List of Authors</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'courses'" class="nav-link" (click)="viewMode = 'courses'">List of Courses</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'panel'" class="nav-link" (click)="viewMode = 'panel'">Panel</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'favorite'" class="nav-link" (click)="viewMode = 'favorite'">Favorite</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'input'" class="nav-link" (click)="viewMode = 'input'">Input Format</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'form'" class="nav-link" (click)="viewMode = 'form'">Course Form</a>
    </li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'casting'"><title-casting></title-casting></div>
    
    <div *ngSwitchCase="'authors'"><authors></authors></div>

    <div *ngSwitchCase="'courses'">
        <div *ngIf="courses.length > 0; then coursesList else noCourses" ></div>
        <ng-template #coursesList>
            <h2>List of Courses</h2>
            <ul>
                <li class="m-3" *ngFor="let course of courses">
                    <course [title]="course.title" [students]="course.students" [rating]="course.rating" [price]="course.price"></course>
                    <button class="mt-1" (click)="onRemoveCourse(course)">Remove</button>
                </li>
            </ul>
        </ng-template>
        <ng-template #noCourses>
            No courses yet
        </ng-template>
        <button  type="button" class="btn btn-primary" (click)="onAddCourse()">Add</button>
    </div>
    
    <div *ngSwitchCase="'panel'">
        <bootsrap-panel>
        <ng-container class="header">Heading</ng-container>
        <div class="body">
            <h2>Title</h2>
            <p>Some content here...</p>
        </div>
        </bootsrap-panel>
    </div>

    <div *ngSwitchCase="'favorite'">
        <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)" ></favorite>
    </div>

    <div *ngSwitchCase="'input'">
        <input type="text" [appInputFormat]="'uppercase'" class="m-3">

        <zippy title="Directive Details">Here we created two directives, one for input format, where you pass a atribute format and it will be apply when the user blur the field.<br>And this zippy is a component, to ocult the details instend of the user click to it appear. This directive just receive the title.</zippy>
    </div>

    <div *ngSwitchCase="'form'">
        <course-form></course-form>
        <signup-form></signup-form>
    </div>
    

    <div *ngSwitchDefault>Otherwise</div>

    
</div>
